{% load pagination %}
<div id="artwork-list-content">
{% if object_list %}
{% load dict_filters %}
{% if object_list.count > 1 %}
<div class="row">
    <div class="order_by">
    <ul>
        {% if order == 'score' %}
        <li><a href="{% url 'exhibition-view' pk=exhibition_id %}" title="sort submissions by most recent">Most Recent</a></li>
        <li>Most Votes</li>
        {% else %}
        <li>Most Recent</li>
        <li><a href="{% url 'exhibition-view-score' pk=exhibition_id %}" title="sort submissions by most votes">Most Votes</a></li>
        {% endif %}
    </ul>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="small-grid-2">&nbsp;</div>
    <ul class="small-block-grid-2">
    {% for submission in object_list %}
    {% with submission.artwork as artwork %}
    <li><div class="artwork preview" id="artwork-{{ artwork.id }}">
        {% include 'artwork/_render.html' with object=artwork %}
        </div>
        <div class="artwork-detail">
            <h3 class="artwork-title"><a href="{% url 'artwork-view' artwork.id %}">{{ artwork.title }}</a></h2>
            <div class="artwork-detail">by 
                <a href="{% url 'artwork-author-list' artwork.author.id %}" 
                  title="view artwork by {{ artwork.author }}">{{ artwork.author }}</a>
            </div>
            <div class="artwork-votes">
                {% if user.is_anonymous %}
                    {% if submission.score > 0 %} {{ submission.score }} vote{{ submission.score|pluralize }} {% endif %}
                    <div>[<a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}" 
                            title="Sign in to vote">vote</a>]</div>
                {% else %}
                {% with votes|get:submission.id as voted %}
                <a unlike-url="{% url 'submission-unlike' submission=submission.id %}"
                     like-url="{% url 'submission-like'   submission=submission.id %}"
                        class="post-vote {% if voted %}unlike{% else %}like{% endif %}"
                        title="{% if voted %}unlike{% else %}like{% endif %}"
                   href="#"><i class="fa fa-thumbs-up"></i> <div class="artwork-score">{{ submission.score }}</div></a>
                {% endwith %}
                {% endif %}
            </div>
        </div>
    </li>
    {% endwith %}
    {% endfor %}
    </ul>
    <div class="small-grid-2">&nbsp;</div>

    <a id="reveal-modal-error" href="#" data-reveal-id="modal-error" ></a>
    <div id="modal-error" class="reveal-modal" data-reveal>
        <div><h3>We're sorry, an error has occurred.</h3></div>
        <p>Please reload the current page, and try again.</p>
        <div><button id="page-reload">Reload</button></div>
    </div>
</div>
{% endif %}
</div>
{% pagination page_obj %}
