{% extends "base.html" %}
{% block content %}
<div id="submission-edit-content">
<h1>Share Artwork</h1>
<form method="post" action="{{ action }}" enctype="multipart/form-data">
    {% csrf_token %}
    <ul class="edit_fields">
    {{ form.as_ul }}
    </ul>
    <div data-alert class="row warning alert-box">
        <div class="columns">
            <div>Once you have Shared your Artwork, you can <strong>no longer change it</strong>.</div>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <button id="save_submission" type="submit" class="postfix button">Save</button>
        </div>
        <div class="columns small-6">
            <button id="help" type="button" onclick="window.location='{% url 'help' %}#sharing'" 
                class="postfix button">Help</button>
        </div>
    </div>
</form>
<a id="save_cancel" href="{% url "exhibition-list" %}">back to list</a>
<div id="error"></div>
</div>
{% endblock content %}
