{% extends "base.html" %}
{% block content %}
<div id="submission-edit-content">
<h1>Add Submission</h1>
<form method="post" action="{{ action }}" enctype="multipart/form-data">
    {% csrf_token %}
    <ul class="edit_fields">
    {{ form.as_ul }}
    </ul>
    <div class="row">
        <div class="small-6 columns">
            <button id="save_submission" type="submit" class="postfix button">Save</button>
        </div>
    </div>
</form>
<a id="save_cancel" href="{% url "exhibition-list" %}">back to list</a>
<div id="error"></div>
</div>
{% endblock content %}
