{% extends "base.html" %}

{% block content %}
<div id="submission-delete-content">
<h1>Remove Submission</h1>

<p>Are you sure you want to delete this submission from 
   <a href="{% url 'exhibition-view' submission.exhibition.id %}">{{ submission.exhibition }}</a>?</p>
<p><em>This artwork will be removed from the exhibition, and any votes removed, but the artwork itself will not be deleted.</em></p>

{% include "artwork/_view.html" with object=submission.artwork %}

<form action="{% url "submission-delete" pk=submission.id %}" method="POST">
  {% csrf_token %}

  <button id="submission_delete" type="submit">Yes, remove.</button>
  <a id="submission_do_not_delete" href="{% url "artwork-view" submission.artwork_id %}">No, cancel.</a>
</form>
</div>
{% endblock %}
