{% extends "base.html" %}

{% block extras %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/processing.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/ace/ace.js" %}"></script>
<script type="text/javascript" src="{% static "js/artwork-edit.js" %}"></script>
<script type="text/javascript" src="{% static "js/vote.js" %}"></script>
{% endblock %}

{% block content %}
<div id="submission-view-content">
{% load rulez_perms %}
{% rulez_perms can_save submission as USER_CAN_SAVE %}
{% include 'artwork/_view.html' with object=submission.artwork submission=submission USER_CAN_SAVE=USER_CAN_SAVE %}
</div>
{% endblock content %}
