{% extends "base.html" %}

{% block extras %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/processing.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/ace/ace.js" %}"></script>
<script type="text/javascript" src="{% static "js/artwork-edit.js" %}"></script>
<script type="text/javascript" src="{% static "js/artwork-render.js" %}"></script>
<script type="text/javascript" src="{% static "js/vote.js" %}"></script>
{% endblock %}

{% block content %}
<div id="submission-view-content">
{% include 'artwork/_view.html' with object=submission.artwork submission=submission %}
</div>
<div id="comments">
<div id="disqus_thread"></div>
</div>
<script type="text/javascript">
    var disqus_shortname = '{{ disqus_shortname }}';
    var disqus_identifier = '{{ submission.disqus_identifier }}';
    var disqus_title = '{{ submission }}';
    var disqus_url = '{{ request.build_absolute_uri }}{{ submission.get_absolute_url }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% include 'submissions/_disqus_count.html' %}
{% endblock content %}
