{% extends "base.html" %}

{% block extras %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.min.css" %}">
<script type="text/javascript" src="{% static "js/jquery.datetimepicker.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/exhibition-edit.js" %}"></script>
{% endblock extras %}

{% block content %}
<div id="exhibition-edit-content">
<div class="columns small-12">
{% if exhibition.id %}
<h1>Edit Exhibition</h1>
{% else %}
<h1>Add Exhibition</h1>
{% endif %}
<form method="post" action="{{ action }}" enctype="multipart/form-data">
    {% csrf_token %}
    <ul class="edit_fields">
    {{ form.as_ul }}
    </ul>
    <div class="row">
        <div class="small-6 columns">
            <button id="save_exhibition" type="submit" class="postfix button">Save</button>
        </div>
    </div>
</form>
<a id="save_cancel" href="{% url "exhibition-list" %}">back to list</a>
<div id="error"></div>
</div>
</div>
{% endblock content %}
