{% extends "base.html" %}
{% block extras %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/artwork-render.js" %}"></script>
<script type="text/javascript" src="{% static "js/vote.js" %}"></script>
{% endblock extras %}
{% block content %}
{% if object %}
{% load rulez_perms %}
{% rulez_perms can_save object as USER_CAN_SAVE %}
<div id="exhibition-view-content">
<div class="columns">
{% include 'exhibitions/_view.html' %}
</div>
<div id="exhibition-submissions" class="columns">
{% include 'submissions/_list.html' with object_list=submissions.object_list votes=submissions.votes page_obj=submissions.page_obj exhibition_id=exhibition.id order=submissions.order %}
</div>
</div>
{% endif %}
{% endblock content %}
