body {
    font-family: 'Open Sans', Verdana, Geneva, sans-serif, sans-serif;
    height: auto;
}
#content {
    padding-top: 2em;
    padding-bottom: 2em;
}
input {
    margin-top: 1em;
    padding: 0.5em;
}
.code {
    list-style-type: none; 
    width: 95%;
}
.code li {
    padding-top: 0.25em;
    cursor: move;
}
p code {
    white-space: nowrap;
}
/* footer */
#footer {
    border-top: thin solid #999;
    font-size: 80%;
    margin-top: 8ex;
    padding-top: 0.5ex;
    width: 100%;
}
#footer .copyright-link {
    padding: 0;
    text-align: left;
}
#footer .usage {
    white-space: nowrap;
    display: inline-block;
}
#footer .references-link {
    padding: 0;
    text-align: right;
}
