body {
    font-family: 'Open Sans', Verdana, Geneva, sans-serif, sans-serif;
    height: 100px;
}
input {
    margin-top: 1em;
    padding: 0.5em;
}
.code {
    list-style-type: none; 
}
.code li {
    padding-top: 0.25em;
}
#answer li { 
    cursor: move;
}
