Django==1.8.4
MySQL-python==1.2.5
WebTest==2.0.18
selenium==2.48.0
PyVirtualDisplay==0.1.5
coverage==4.0.1
django-rulez==1.0.1
django-database-files==0.1.1
Pillow==2.6.1
django-csp==2.0.3
django-adelaidex-util==0.3
django-adelaidex-lti==0.3
django-adelaidex-zipfile==0.1
