<div id="artwork-list-content">
<div class="row">
    <div class="small-grid-2">&nbsp;</div>
    <ul class="small-block-grid-2">
    {% for submission in object_list %}
    {% with submission.artwork as artwork %}
    <li><div class="artwork canvas-preview">
        <a href="{% url "artwork-view" artwork.id %}" title="Click to view {{ artwork.title }}">
            <canvas id="canvas-preview-{{ artwork.id }}"></canvas>
            <script id="script-preview-{{ artwork.id }}" type="text/processing" 
                data-processing-target="canvas-preview-{{ artwork.id }}">
            {% autoescape off %}
            {{ artwork.code }}
            {% endautoescape %}
            </script>
        </a>
        </div>

        <h3 class="artwork-title"><a href="{% url 'artwork-view' artwork.id %}">{{ artwork.title }}</a></h2>
        <p class="artwork-date"><time>{{ artwork.modified_at|date }}</time></p>
    </li>
    {% endwith %}
    {% endfor %}
    </ul>
    <div class="small-grid-2">&nbsp;</div>
</div>
</div>
