<div class="artwork-iframe" id="iframe-{{ object.id }}">
<h4>Please upgrade your browser</h4>
<p>Your browser does not support HTML5 iframe sandboxing, so for your safety, we
   are hiding this untrusted content for more information.</p>
<ul>
<li><a href="https://html5test.com/compare/feature/security-sandbox.html">View list of compliant browsers</a>.</li>
<li><a href="http://msdn.microsoft.com/en-us/hh563496.aspx">Read more about iframe security risks</a>.</li>
</ul>
</div>
{% if object.id %}
<div class="paused" id="paused-{{ object.id }}">
    <div class="table">
        <div class="cell">
            <a href="#" title="play"><i class="fa fa-play-circle"></i></a>
        </div>
    </div>
</div>
{% endif %}
<script>
    // If we can sandbox the iframe, create it.
    if ( Modernizr.sandbox ) {
        {% if object.id %}
        createArtworkIframe({
            target: $('#iframe-{{ object.id }}'),
            id: {{ object.id }},
            code: "{% autoescape off %}{% filter escapejs %}{{ object.code }}{% endfilter %}{% endautoescape %}",
            renderUrl: "{% url 'artwork-render' pk=object.id %}",
            autosize: {{ autosize|default:0 }},
            overlay: '#paused-{{ object.id }}'
        });
        {% else %}
        createArtworkIframe({
            target: $('#iframe-{{ object.id }}'),
            code: "{% autoescape off %}{% filter escapejs %}{{ object.code }}{% endfilter %}{% endautoescape %}",
            renderUrl: "{% url 'artwork-render-create' %}",
            autosize: {{ autosize|default:0 }}
        });
        {% endif %}
    }
</script>
