{% extends "base.html" %}
{% block content %}
{% load rulez_perms %}
{% rulez_perms can_save model as USER_CAN_SAVE %}
<div id="exhibition-list-content">

{% if USER_CAN_SAVE %}
<div class="row">
    <a href="{% url 'exhibition-add' %}" id="exhibition-add">&#43; Add Exhibition</a>
</div>
{% endif %}

<ul class="small-block-grid-1">
    {% for exhibition in object_list %}
    <li><div class="exhibition">
        <h3 class="exhibition-title"><a href="{% url 'exhibition-view' exhibition.id %}">{{ exhibition.title }}</a></h2>
        <div class="exhibition-description">{{ exhibition.description|truncatechars:100 }}</div>
        {% if not exhibition.released_yet %}
        <div class="not-available">Release date <time>{{ exhibition.released_at|date }} {{ exhibition.released_at|time }}</time></div>
        {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>

</div>
{% endblock content %}

