<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>ProcessingJS Artworks</title>
    {% load staticfiles %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.ui.resizable.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/gallery.css" %}">
    {% endblock css %}
    {% block js %}
    <script type="text/javascript" src="{% static "js/modernizr.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/foundation.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.ui.resizable.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.ui.touch-punch.min.js" %}"></script>
    {% endblock js %}
    {% block extras %}
    <!-- for use by child templates -->
    {% endblock extras %}
    <script type="text/javascript" src="{% static "js/base.js" %}"></script>
    {% if ALLOW_ANALYTICS %}
    <script type="text/javascript" src="/course.units/edx/js/ga.js"></script>
    {% endif %}
</head>
<body>
    <nav class="top-bar" data-topbar role="navigation">
        <section class="top-bar-section">
        <ul class="title-area">
            <li>
                <a href="{% url "artwork-studio" %}" id="nav-my-artwork" title="view my artwork">My Studio</a>
            </li>
            <li>
                <a href="{% url "artwork-shared" %}" id="nav-shared-artwork" title="view shared artwork">Artwork</a>
            </li>
            <li>
                <a href="{% url "exhibition-list" %}" id="nav-exhibitions" title="view exhibitions">Exhibitions</a>
            </li>
            <li>
                <a href="{% url "help" %}" id="nav-help" title="help links and resources">Help</a>
            </li>
            {% if user.is_staff %}
            <li>
                <a href="{% url "admin:index" %}" id="nav-admin" title="admin view">Administer</a>
            </li>
            {% endif %}
        </ul>
        </section>
        <section class="top-bar-section">
        <ul id="nav-usermenu" class="right">
        {% if user.is_anonymous %}
        <li>
            <a href="{% url "login" %}?next={{ request.get_full_path|urlencode }}" id="nav-signin" title="sign in">Sign in
            <i class="fa fa-sign-in"></i></a>
        </li>
        {% else %}
        <li>
            <a href="{% url "lti-user-profile" %}?next={{ request.get_full_path|urlencode }}" id="nav-profile" 
                title="update profile">{{ user }}</a>
        </li>
        {% endif %}
        </ul>
        </section>
    </nav>

    <div class="row">
    {% block content %}{% endblock %}
    </div>

    <footer>
    <div id="footer" class="small-12 small-centered columns">
        <ul>
            <li><a id="footer-terms" href="{% url 'terms' %}">Terms of Use</a></li>
        </ul>
    </div>
    </footer>
</body>
</html>
