nav a {
    text-transform: capitalize !important;
}

nav {
    margin-bottom: 3em !important;
}

.canvas-preview {
    overflow: hidden;
    width: 200px;
    height: 200px;
    position: relative;
}

/* center the canvas inside the preview div:
 * http://stackoverflow.com/a/19414020 */
.canvas-preview canvas {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.canvas-preview button {
    width: 200px;
    height: 200px;
}

ul.edit_fields {
    list-style-type: none;
    margin: 0;
}

.code-block {
    font-family: monospace;
    white-space: pre;
}

#artwork-delete-content .object-actions {
    display: none;
}

#artwork-list-content #list-artwork-add {
    font-size: 500%;
}
