/* Make the body fit into iframes better */
body {
    height: auto;
}
/* Add a bit of padding between the nav and the content */
nav {
    margin-bottom: 1em !important;
}
/* Make the title-area text bigger */
nav .title-area li a {
    font-size: 1.04rem;
}
/* Magnify the font-awesome nav icons */
nav .fa {
    font-size: 150%;
}
/* Shift nav icon to the right */
nav #nav-logged-in {
    padding-right: 15px !important;
}
/* Hide the drop-down arrow */
nav #nav-logged-in:after {
    border-color: transparent transparent transparent !important;
}
/* page footer */
footer {
    margin-top: 1em;
    text-align: right;
    border-top: thin solid grey;
    margin-right: 1em;
    margin-left: 1em;
}
footer #footer {
    padding-left: 0;
    padding-right: 0;
}
footer a {
    white-space: nowrap;
}
footer ul {
    list-style-type: none;
    display: inline-block;
    font-size: 80%;
    line-height: 80%;
    padding: 0;
    margin: 0;
}
footer li {
    display: inline-block;
}
footer li:before {
    content: ' | ';
}
footer li:first-child:before {
    content: '';
}

/* Make warning box text a bit easier to read */
.warning.alert-box {
    color: #000;
}
.warning.alert-box a,
.warning.alert-box a:visited {
    color: #fff;
}

.auto-width {
    width: auto;
}
.align-right {
    text-align: right;
}
/* object action links */
.object-actions {
    padding-top: 1em;
}
.object-actions li {
    vertical-align: middle;
    line-height: 1.2em;
}
.object-actions .fa {
    font-size: 2em;
    line-height: 0.5em;
    -webkit-text-stroke: 1px white;
}
.object-actions .share-link {
    text-transform: none;
    font-size: 1.5em;
    font-weight: 200;
}

/* Preview the artwork in a smaller div */
.artwork.preview {
    overflow: hidden;
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    height: 200px;
    position: relative;
}

/* center the canvas/iframe inside the preview div:
 * http://stackoverflow.com/a/19414020 */
.artwork.preview iframe,
.artwork.preview canvas {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
/* Pad the resizeable div, to make the handle more visible */
.artwork.preview.ui-resizable iframe {
    padding-right: 10px;
    padding-bottom: 10px;
}
iframe {
    border: 0;
    overflow: hidden;
    outline: none;
    /* animate the iframe resize, to make it look smoother */
    -webkit-transition: all 1s;
       -moz-transition: all 1s;
            transition: all 1s;
}

/* Paused artwork displayed with overlay */
.paused {
    display: none;
    background-color: black;
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.paused .fa {
    font-size: 500%;
}
.paused a:link,
.paused a:visited {
    color: grey;
}
.paused a:hover,
.paused a:active {
    color: white;
}
/* all this shit just to vertically align.. */
.paused .table {
    display: table;
    width: 100%;
    height: 100%;
}
.paused .cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* Adjust margins for form fields */
ul.edit_fields {
    list-style-type: none;
    margin: 0;
}
/* Show help text in italics */
ul.edit_fields .helptext {
    font-size: 0.85rem;
    font-style: italic;
}

#submission-edit-content .errorlist {
    color: red;
}

/* Hide error text initially, and allow its content to wrap */
#artwork-edit-content .alert {
    display: none;
    white-space: normal;
    margin-bottom: 0.9375rem;
}

/* Code displays pre-formatted monospace */
code {
    font-family: monospace;
    white-space: pre-wrap;
}
.code-block {
    position: relative;
    min-height: 35ex;
}
.code-block code,
.code-block pre {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
div.ui-resizable {
    min-height: 35ex;
    min-width: 100%;
    max-width: 100%;
}
.help-link {
    text-align: right;
}
#help-content ol {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.accordion-navigation h3:before {
    content: "\25B8 ";
    padding-right: 0.1em;
}
.accordion-navigation.active h3:before {
    content: "\25BE ";
}
button .fa {
    font-size: 150%;
}
/* Highlight exhibitions that haven't been released yet */
.not-available {
    font-weight: bold;
}
/* Voting icons */
.artwork-votes {
    white-space: nowrap;
}
.artwork-votes .fa {
    font-size: 150%;
}
.unlike,
.like:hover,
.like:active,
.unlike .fa,
.like:hover .fa,
.like:active .fa {
    color: #008cba;
}
.like,
.unlike:hover,
.unlike:active,
.like .fa,
.unlike:hover .fa,
.unlike:active .fa {
    color: #ababab;
}
.artwork-score, .artwork-votes, .inline {
    display: inline;
}

.pagination .fa {
    position: relative;
    top: 1px;
}
.order_by:before {
    content: "Sort by: ";
    font-size: 85%;
}
.order_by {
    list-style-type: none;
    display: inline;
    margin: 0;
    font-size: 85%;
}
.order_by li {
    display: inline;
}
.order_by  li:before {
    content: ' | ';
}
.order_by  li:first-child:before {
    content: '';
}
.artwork-title {
    word-wrap: break-word;
}
