/* Capitalise the nav menu  */
nav a {
    text-transform: capitalize !important;
}
/* Add a bit of padding between the nav and the content */
nav {
    margin-bottom: 3em !important;
}
/* Make the title-area text bigger */
nav .title-area li a {
    font-size: 1.04rem;
}
/* Magnify the font-awesome nav icons */
nav .fa {
    font-size: 150%;
}
/* Shift nav icon to the right */
nav #nav-logged-in {
    padding-right: 15px !important;
}
/* Hide the drop-down arrow */
nav #nav-logged-in:after {
    border-color: transparent transparent transparent !important;
}
/* pad the object-actions */
.object-actions {
    padding-top: 1.5ex;
}

/* Preview the artwork in a smaller div */
.artwork.preview {
    overflow: hidden;
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    height: 200px;
    position: relative;
}

/* center the canvas/iframe inside the preview div:
 * http://stackoverflow.com/a/19414020 */
.artwork.preview iframe,
.artwork.preview canvas {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
/* Pad the resizeable div, to make the handle more visible */
.artwork.preview.ui-resizable iframe {
    padding-right: 10px;
    padding-bottom: 10px;
}
iframe {
    border: 0;
    overflow: hidden;
    outline: none;
    /* animate the iframe resize, to make it look smoother */
    -webkit-transition: all 1s;
       -moz-transition: all 1s;
            transition: all 1s;
}
/* Adjust margins for form fields */
ul.edit_fields {
    list-style-type: none;
    margin: 0;
}
/* Show help text in italics */
ul.edit_fields .helptext {
    font-size: 0.85rem;
    font-style: italic;
}
/* Hide error text initially */
#artwork-edit-content #error {
    display: none;
}
/* Use monospace in code text area */
#artwork-edit-content #id_code {
    font-family: monospace;
}
#artwork-edit-content .preview {
    border: 1px dashed lightgrey;
    padding: 0.5em;
}
/* Highlight exhibitions that haven't been released yet */
.not-available {
    font-weight: bold;
}
/* Voting icons */
.artwork-votes {
    white-space: nowrap;
}
.artwork-votes .fa {
    font-size: 150%;
}
.artwork-votes .unlike,
.artwork-votes .like:hover,
.artwork-votes .like:active {
    color: #008cba;
}
.artwork-votes .like,
.artwork-votes .unlike:hover,
.artwork-votes .unlike:active {
    color: #ababab;
}
.artwork-score {
    display: inline-block;
}

.pagination .fa {
    position: relative;
    top: 1px;
}
