{% load dict_filters %}
<a id="vote-{{ object.id }}"
{% if user.is_anonymous %}
    href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}" 
   class="like"
   title="Sign in to vote"
{% else %}
    href="#"
   unlike-url="{% url 'submission-unlike' submission=object.id %}"
     like-url="{% url 'submission-like'   submission=object.id %}"
{% with votes|get:object.id as voted %}
    class="post-vote {% if voted %}unlike{% else %}like{% endif %}"
    title="{% if voted %}unlike{% else %}like{% endif %}"
{% endwith %}
{% endif %}
><div class="artwork-score" title="{{ object.score}} vote{% if object.score == 1 %}{% else %}s{% endif %}">{{ object.score }}</div>
 <i class="fa fa-thumbs-up"></i>
</a>
