{% extends "base.html" %}
{% block extras %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/artwork-render.js" %}"></script>
{% endblock %}

{% block content %}
<div id="submission-delete-content" class="columns small-12">
<h1>Unshare Artwork</h1>

<p>Are you sure you want to unshare this artwork from 
   <a href="{% url 'exhibition-view' submission.exhibition.id %}">{{ submission.exhibition }}</a>?</p>
<div data-alert class="warning alert-box auto-width">
    <div>The Share URL will become invalid.</div>
    <div>All Votes for this Artwork will be removed.</div>
    <div>The Artwork itself <em>will not</em> be deleted, only removed from this Exhibition.</div>
</div>

{% include "artwork/_preview.html" with object=submission.artwork %}

<form action="{% url "submission-delete" pk=submission.id %}" method="POST">
  {% csrf_token %}

  <button id="submission_delete" type="submit">Yes, unshare.</button>
  <a id="submission_do_not_delete" href="{% url "submission-view" submission.id %}">No, cancel.</a>
</form>
</div>
{% endblock %}
