{% if object %}
{% load rulez_perms %}
{% rulez_perms can_save object as USER_CAN_SAVE %}
{% if USER_CAN_SAVE %}
<div class="row">
<ul class="breadcrumbs">
    <li><a href="{% url 'artwork-edit' pk=object.id %} " title="Edit {{ object.title }}">edit</a></li>
    <li><a href="{% url 'artwork-delete' pk=object.id %} " title="Delete {{ object.title }}">delete</a></li>
    {% if exhibitions_submitted|length or exhibitions_to_submit|length %}
    <li><a href="{% url 'artwork-submit' artwork=object.id %}" 
          title="Submit {{ object.title }} to an exhibition" 
          data-reveal-id="modal-submit" >submit</a>
        <div id="modal-submit" class="reveal-modal" data-reveal>
        {% include 'artwork/_submit.html' %}
        <a class="close-reveal-modal" id="submit-cancel">&#215;</a>
        </div>
    </li>
    {% endif %}
</ul>
</div>
{% endif %}
{% endif %}
