<div id="artwork-view-include">
{% if object %}
<canvas id="canvas-{{ object.id }}"></canvas>
<script id="script-{{ object.id }}" type="text/processing" 
    data-processing-target="canvas-{{ object.id }}">
{% autoescape off %}
{{ object.code }}
{% endautoescape %}
</script>
<h3 class="artwork-title">{{ object.title }}</h2>
<p class="artwork-detail">Created by {{ object.author }}, updated <time>{{ object.modified_at|date }}</time></p>
{% else %}
<!-- TODO - return 404 -->
<p>Artwork not found.</p>
{% endif %}
</div>
