<iframe class="artwork-iframe" id="iframe-{{ object.id }}"
          src="{% url 'artwork-render' pk=object.id %}" width="100%" height="100%" scrolling="no">
<p>Please enable iframes to view this content.</p>
</iframe>
{% if autosize %}
<script>
$('#iframe-{{ object.id }}').load(function () {
    // Give the iframe time to finish rendering before resizing.
    var $iframe = $(this);
    setTimeout(function() {
        var canvas = $iframe.contents().find('canvas');
        $iframe.height(canvas.height());
        $iframe.width(canvas.width());
    }, 100);
});
</script>
{% endif %}
