{% if object %}

{% for exhibition in exhibitions_submitted %}
<p>Shared to <a href="{% url 'exhibition-view' exhibition.id %}">{{ exhibition }}</a>
    {% if exhibition.submitted.submitted_by.id != user.id %}
    by {{ exhibition.submitted.submitted_by }}
    {% endif %}
    on {{ exhibition.submitted.created_at }}
    [<a href="{% url 'submission-delete' pk=exhibition.submitted.id %}" 
        title="Delete {{ object }} submission">unshare</a>]
</p>
{% endfor %}

{% if exhibitions_to_submit|length %}
<h3>Share {{ object.title }}:</h3>
<form method="post" action="{% url 'artwork-submit' artwork=object.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="artwork" value="{{ object.id }}" />
    {% for exhibition in exhibitions_to_submit %}
    <div>
        <input type="radio" name="exhibition" value="{{ exhibition.id }}" id="exhibition-{{ exhibition.id }}" />
        <label for="exhibition-{{ exhibition.id }}">{{ exhibition }}</label>
        </label>
    </div>
    {% endfor %}
    <div data-alert class="row warning alert-box">
        <div class="columns">
            <div>Once you have Shared your Artwork, you can <strong>no longer change it</strong>.</div>
        </div>
    </div>
    <div class="row">
        <div class="columns small-6">
            <button id="save_submission" type="submit" class="postfix button">Share</button>
        </div>
        <div class="columns small-6">
            <button id="help" type="button" onclick="window.location='{% url 'help' %}#sharing'" 
                class="postfix button">Help</button>
        </div>
    </div>
</form>
{% endif %}

{% endif %}
