{% load rulez_perms %}
<div class="columns auto-width">
    <h2 class="artwork-title">{{ object.title }}</h2>
</div>
<div class="object-actions auto-width columns end">
    <ul class="breadcrumbs">
        {% if object.shared %}
        <li><i class="fa fa-share-alt"></i> <span class="share-link">{{ share_url }}</span></li>
        {% endif %}
        {% if submission %}
        {% rulez_perms can_save submission as USER_CAN_SAVE_SUBMISSION %}
        <li>{% include 'submissions/_vote.html' with object=submission %}</li>
        <li>{% include 'submissions/_comment.html' with object=submission %}</li>
        {% if USER_CAN_SAVE_SUBMISSION %}
        <li><a href="{% url 'submission-delete' pk=submission.id %}" 
              title="Un-share {{ object.title }}">unshare</a>
        </li>
        {% endif %}
        {% endif %}
        <li><a href="{% url 'artwork-clone' pk=object.id %} " title="Clone {{ object.title }}">clone</a></li>
    </ul>
</div>
<div class="columns small-12">
    <div class="artwork-detail">by 
        <a href="{% url 'artwork-author-list' object.author.id %}" class="artwork-author"
          title="view artwork by {{ object.author }}">{{ object.author }}</a>, 
        {% if submission %}
        shared to <a href="{% url 'exhibition-view' submission.exhibition.id %}">{{ submission.exhibition }}</a>
        on <time class="submission-date">{{ submission.modified_at|date }}</time>
        {% else %}
        updated <time class="artwork-date">{{ object.modified_at|date }}</time>
        {% endif %}
    </div>
</div>
<div class="columns small-12">&nbsp;</div>
{% include 'artwork/_play.html' %}
