{% extends "base.html" %}

{% block extras %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/processing.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/ace/ace.js" %}"></script>
<script type="text/javascript" src="{% static "js/artwork-edit.js" %}"></script>
{% endblock %}

{% block content %}
<div id="artwork-edit-content">
<div class="row">
    <div class="small-6 columns">
        {% if artwork.id %}
        <h1>Edit Artwork</h1>
        {% else %}
        <h1>Add Artwork</h1>
        {% endif %}
    </div>
    <div class="small-6 columns help-link">
        <a href="{% url 'help' %}">Help</a>
    </div>
</div>
<div data-equalizer>
<div class="small-12 medium-6 columns" data-equalizer-watch>
    <form method="post" action="{{ action }}" enctype="multipart/form-data">
        {% csrf_token %}
        <ul class="edit_fields">
        {{ form.as_ul }}
        </ul>
        <div class="code-block"><code contenteditable="true">{{ object.code }}</code></div>
        <div class="row"><div class="small-1 columns">&nbsp;</div></div>
        <div class="row">
            <input type="checkbox" id="autoupdate" value="1" checked="checked" /> 
            <label for="autoupdate">Auto-update drawing</label>
        </div>
        <div class="row">
            {% if artwork.id %}
            <div class="small-6 columns">
                <button id="save_artwork" type="submit" title="Save to My Studio" class="postfix button">Save</button>
            </div>
            <div class="small-6 columns">
                <button id="save_cancel" type="button" title="Return to viewing Artwork" class="postfix button" 
                    onclick="document.location = '{% url 'artwork-view' object.id %}';">Cancel</button>
            </div>
            {% else %}
            <button id="save_artwork" type="submit" title="Save to My Studio" class="postfix button">Save</button>
            {% endif %}
        </div>
    </form>
</div>
<div class="small-12 medium-6 columns preview" data-equalizer-watch>
    <div><span id="error" class="alert label"></span></div>
    <canvas id="canvas-preview"></canvas>
    <script id="script-preview" type="text/processing" data-processing-target="canvas-preview">
        {% autoescape off %}
        {{ artwork.code }}
        {% endautoescape %}
    </script>
    </div>
</div>
{% endblock content %}
