{% extends "base.html" %}

{% block extras %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/processing.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/ace/ace.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {

    // Attach the Ace editor
    var $code = $('code');
    var $input = $('#id_code');

    var editor = ace.edit($code.get(0));
    editor.setShowFoldWidgets(false);

    var session = editor.getSession();
    session.setMode("ace/mode/javascript");
    session.setUseWorker(false);
    session.setUseSoftTabs(true);
    session.setTabSize(4);

    var $autoupdate = $('#autoupdate');
    var $error = $('.alert');
    function updateDrawing() {
        // Hide any previous errors
        $error.hide();

        // Redraw the iframe if #autoupdate is checked.
        if ($autoupdate.is(':checked')) {
            var code = $input.val() || editor.getValue() || '';
            drawIframe{{ artwork.id }}(code);
        }
    }

    // Communicate code changes to the input field
    editor.on("change", function() {
        if ($input.length) {
            $input.val(editor.getValue());
        }
        updateDrawing();
    });

    $autoupdate.on('change', updateDrawing);
});
</script>
{% endblock %}

{% block content %}
<div id="artwork-edit-content">

{% if artwork.id %}
{% load rulez_perms %}
{% rulez_perms can_save artwork as USER_CAN_SAVE %}
{% endif %}

<div class="row">
{% if USER_CAN_SAVE %}
<div class="columns auto-width">
    {% if artwork.id %}
    <h2>Edit Artwork</h2>
    {% else %}
    <h2>Add Artwork</h2>
    {% endif %}
</div>
{% else %}
<div class="columns auto-width">
    <h2 class="artwork-title">{{ artwork.title }}</h2>
</div>
{% endif %}

{% if artwork.id %}
<div class="object-actions auto-width columns end">
    <ul class="breadcrumbs">
        {% if artwork.shared %}
        <li><i class="fa fa-share-alt"></i> <span class="share-link">{{ share_url }}</span></li>
        {% endif %}
        {% if USER_CAN_SAVE %}
        {% if exhibitions_submitted|length or exhibitions_to_submit|length %}
        <li><a href="{% url 'artwork-submit' artwork=artwork.id %}" 
              title="Share {{ artwork.title }}" 
              data-reveal-id="modal-submit" >share</a>
            <div id="modal-submit" class="reveal-modal" data-reveal>
            {% include 'artwork/_submit.html' %}
            <a href="#" class="close-reveal-modal" id="submit-cancel">&#215;</a>
            </div>
        </li>
        {% endif %}
        <li><a href="{% url 'artwork-delete' pk=artwork.id %} " title="Delete {{ artwork.title }}">delete</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}

{% if USER_CAN_SAVE %}
{% else %}
<div class="columns small-12">
    <div class="artwork-detail">by 
        <a href="{% url 'artwork-author-list' artwork.author.id %}" 
          title="view artwork by {{ artwork.author }}">{{ artwork.author }}</a>, 
        updated <time>{{ artwork.modified_at|date }}</time>
    </div>
</div>
{% endif %}

</div>

{% if USER_CAN_SAVE %}
<form method="post" action="{{ action }}" enctype="multipart/form-data">
{% csrf_token %}
<div class="columns small-12">
    <ul class="edit_fields">
    {{ form.as_ul }}
    </ul>
</div>
{% endif %}


<div class="row">
    <div class="small-1 columns">&nbsp;</div>
    <div class="small-10 columns"><div id="error-{{ artwork.id }}" class="alert label">&nbsp;</div></div>
    <div class="small-1 columns">&nbsp;</div>
</div>
<div class="row" data-equalizer>
    <div class="small-12 medium-6 columns" data-equalizer-watch>
        <div class="code-block" style="height: 100%"><code contenteditable="true">{{ artwork.code }}</code></div>
    </div>
    <div class="small-12 medium-6 columns artwork" id="artwork-{{ artwork.id }}" data-equalizer-watch>
        {% include 'artwork/_render.html' with object=artwork autosize=1 %}
    </div>
</div>

<div class="row"><div class="small-1 columns">&nbsp;</div></div>
<div class="row">
    <div class="columns auto-width">
        <input type="checkbox" id="autoupdate" value="autoupdate" checked="checked" /> 
        <label for="autoupdate">Auto-update drawing</label>
    </div>
    <div class="columns auto-width end">
        <a href="{% url 'help' %}">Help</a>
    </div>
</div>

{% if USER_CAN_SAVE %}
<div class="row">
    <div class="small-6 columns">
        <button id="save_artwork" type="submit" title="Save to My Studio" class="postfix button">Save</button>
    </div>
    {% if artwork.id %}
    <div class="small-6 columns">
        <button id="save_cancel" type="button" title="Return to viewing Artwork" class="postfix button" 
            onclick="document.location = '{% url 'artwork-view' artwork.id %}';">Cancel</button>
    </div>
    {% endif %}
</div>
</form>
{% endif %}

{% endblock content %}
