{% extends "base.html" %}

{% block extras %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/artwork-render.js" %}"></script>
{% endblock %}

{% block content %}
{% load pagination %}
<div id="artwork-list-content">
{% if author %}
<h1>Artwork {% if shared %}shared{% endif %} by {{ author }}</h1>
{% endif %}

<div class="row">
    <div class="columns small-6">
        <h4><a href="{% url 'artwork-add' %}" id="artwork-add">&#43; New Artwork</a></h4>
    </div>
    <div class="columns small-6 align-right">
        {% if object_list.count > 1 %}
        <button id="play-all" type="button" class="button tiny" title="play all"><i class="fa fa-play"> All</i></button>
        {% endif %}
    </div>
</div>

<div class="small-grid-2">&nbsp;</div>
<ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-2">
    {% for artwork in object_list %}
    <li>{% include 'artwork/_list.html' with object=artwork %}</li>
    {% endfor %}
</ul>
</div>
{% pagination page_obj %}
{% endblock content %}
