{% extends "base.html" %}
{% block content %}
<div id="artwork-list-content">
{% if author %}
<h1>Artwork by {{ author }}</h1>
{% endif %}

{% if user.is_anonymous or author == user %}
<div class="row">
    <h4><a href="{% url 'artwork-add' %}" id="artwork-add">&#43; Add Artwork</a></h4>
</div>
{% endif %}

<div class="small-grid-2">&nbsp;</div>
<ul class="small-block-grid-2">
    {% for artwork in object_list %}
    <li><div class="artwork preview">
        {% include 'artwork/_render.html' with object=artwork %}
        </div>
        <h3 class="artwork-title"><a href="{% url 'artwork-view' artwork.id %}">{{ artwork.title }}</a></h3>
        {% if not author %}
        <div class="artwork-detail">Created by 
            <a href="{% url 'artwork-author-list' artwork.author.id %}" 
              title="view artwork by {{ artwork.author }}">{{ artwork.author }}</a>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>

</div>
{% endblock content %}
