{% extends "base.html" %}

{% block extras %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/ace/ace.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    var editor = ace.edit("code-{{ object.id }}");
    editor.setShowFoldWidgets(false);
    editor.setReadOnly(true);

    var session = editor.getSession();
    session.setMode("ace/mode/javascript");
    session.setUseWorker(false);
    session.setUseSoftTabs(true);
    session.setTabSize(4);
});
</script>
{% endblock %}

{% block content %}
<div id="artwork-view-content">
{% include 'artwork/_view.html' %}
{% include 'artwork/_actions.html' %}
<div class="artwork-code code-block"><code id="code-{{ object.id }}">{{ object.code }}</code></div>
</div>
{% endblock content %}
