<div id="help-content">
<ul class="accordion" data-accordion>
<li class="accordion-navigation">
    <a href="#processingjs"><h3>ProcessingJS</h3></a>
    <div id="processingjs" class="content">
    <ul>
    <li><a href="http://processingjs.org">Processing.js</a> :: Javascript
        implementation of the Processing visual proggramming language</li>
    <li><a href="http://processingjs.org/reference/">Processing.js function reference</a> :: 
        list of Processing.js data structures and methods</a></li>
    <li><a href="http://processing.org/examples/">Processing.js examples</a> :: 
        basic and advanced examples of how to use ProcessingJS</a>
    </ul>
    </div>
</li>
<li class="accordion-navigation">
    <a href="#sharing"><h3>Sharing Artwork</h3></a>
    <div id="sharing" class="content">
        <div>The Artwork you create is only visible to you, until you decide to Share it.</div>
        <div>To Share Artwork with friends or other students:</div>
        <ol>
        <li>View your Artwork</li>
        <li>Click SHARE link at the top</li>
        <li>Select an Exhibition to Share into</li>
        <li>Click the Share button</li>
        <li>Select the Share URL to Copy it, and Paste anywhere.</li>
        </ol>
    </div>
</li>
<li class="accordion-navigation">
    <a href="#editshared"><h3>Editing Shared Artwork</h3></a>
    <div id="editshared" class="content">
        <div>For assessment purposes, Artwork may not be changed once it is Shared.</div>
        <div>You may <strong>UNSHARE</strong> your Artwork, but this will <strong>invalidate your Share URL</strong>:</div>
        <ol>
        <li><strong>View</strong> your Artwork</li>
        <li>Click <strong>UNSHARE</strong>.</li>
        <li>Click the <strong>Yes, unshare.</strong> button</li>
        <li>Edit and <strong>Save</strong> your Artwork</li>
        <li>Click <strong>SHARE</strong> to share again. This will generate a <strong>new Share URL</strong>.</li>
        </ol>

        <div>Alternately, you may <strong>CLONE</strong> your Artwork.</div>
        <ol>
        <li><strong>View</strong> your Artwork</li>
        <li>Click <strong>CLONE</strong>.</li>
        <li>Edit and <strong>Save</strong> your cloned Artwork.</li>
        <li>Click <strong>SHARE</strong> to share the new Artwork.</li>
        </ol>
    </div>
</li>
<li class="accordion-navigation">
    <a href="#browser"><h3>Browser Support</h3></a>
    <div id="browser" class="content">
    <ul>
    <li><a href="https://html5test.com/compare/feature/security-sandbox.html">List of compliant browsers</a> for this Gallery app</li>
    <li><a href="http://msdn.microsoft.com/en-us/hh563496.aspx">Read more about iframe security risks</a>.</li>
    </ul>
    </div>
</li>
</ul>
</div>
