{% extends "base.html" %}
{% block content %}
<h1>Welcome!</h1>

<p><em>This username will only be used to identify your Artworks to other students
in the Gallery. It will not be used for any other purposes, and need not match
your username in edX.</em></p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul class="edit_fields">
    <li><ul class="errorlist"><li>This field is required.</li></ul><label
    for="id_first_name">Username:</label> <input id="id_first_name"
    maxlength="255" name="first_name" type="text" value="{{ user.first_name }}"></li>
    </ul>
    <div class="row">
        <div class="small-6 columns">
            <button id="save_user" type="submit" class="postfix button">Save</button>
        </div>
    </div>
</form>

{% endblock content %}
